<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href={% static "bootstrap-5.3.0-alpha1-dist/css/bootstrap.css" %}>
    <script src={% static "bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.js" %}></script>
    <script src={% static "bootstrap-5.3.0-alpha1-dist/js/bootstrap.esm.js" %}></script>
    <script src={% static "bootstrap-5.3.0-alpha1-dist/js/bootstrap.js" %}></script>
    <script src={% static "bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js" %}></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-light " href="{% url 'main' %}">Лого</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>

<div class="container justify-content-center  pt-5 mt-3 text-center">
    <div class="container pt-5 mt-5 align-items-center ">

        <div class="row align-items-center justify-content-center mt-3">
            <div class="col-12 col-md-6 ">
                <div class="card  shadow p-3 mb-5 bg-white rounded ">
                    <div class="card-body ">
                        <form>
                            <div class="row justify-content-center text-secondary ">
                                <h2 class="mb-3">{{Ltest.name}}</h2>
                                <div class="mb-5 w-75 pt-3">
                                    <h5>Вопросов: 20</h5>
                                    <h5>Время: 40 мин</h5>
                                </div>

                            </div>
                            <a class="btn btn-outline-primary w-50 mt-3" type="button" href="/test/{{Ltest.id}}">Начать тестирование</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div >
    {{Ltest.name}}<br>
    Вопросов:20<br>
    Время: 40 мин<br>

    <a href="/test/{{Ltest.id}}">Начать тест</a>
</div> -->

</body>

</html>